#purchase-page-container {
  max-width: 1496px;
  margin: 0 auto;
  min-height: 30vh;
  padding-top: 2rem;
  background-color: whitesmoke;
  padding-bottom: 8rem;
}

#purchase-page-container .title {
  color: #ffffff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 2.3rem;
  color: #444;
}

#purchase-page-container .sell-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#purchase-page-container .sell-btn-container .sell-btn {
  outline: none;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #357dc9;
  padding-block: 0.5rem;
  padding-inline: 0.8rem;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

#purchase-page-container .sell-btn-container .sell-btn:hover {
  background-color: #ffffff;
  border: 1px solid #357dc9;
  color: #357dc9;
  transition: 0.3s ease;
}

/* table-grid */

#purchase-page-container .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
}

#purchase-page-container .table .table-titles {
  text-align: start;
  font-weight: 400;
  color: #111;
}
#purchase-page-container #verified-logo {
  position: relative;
  top: 3px;
}

#purchase-page-container .table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  font-size: 16px;
}

#purchase-page-container .table th {
  background-color: rgb(235, 235, 235);
}

#purchase-page-container .table td button {
  padding-inline: 0.7rem;
  height: 2rem;
  border: 1px solid transparent;
  background-color: #06ac06;
  color: #ffffff;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

#purchase-page-container .table td button:hover {
  padding-inline: 0.7rem;
  height: 2rem;
  border: 1px solid #06ac06;
  background-color: #ffffff;
  color: #06ac06;
  transition: 0.3s ease;
}

/*responsive*/

@media (max-width: 800px) {
  #purchase-page-container .table thead {
    display: none;
  }

  #purchase-page-container .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  #purchase-page-container .table tr {
    margin-bottom: 15px;
  }
  #purchase-page-container .table td {
    text-align: right;
    padding-left: 50%;
    text-align: right;
    position: relative;
  }
  #purchase-page-container .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
  }
}
